// Color

$color-background:         #262842;
$color-primary-white:      #ffffff;
$color-secundary-black:    #000000;
$color-cinza:              #a1a4b9;

// font weight

$font-weight-regular:      400;
$font-weight-normal:       500;
$font-weight-bold:         600;

// font family
$font-family-quicksand:    'Quicksand', sans-serif;

// font size

$font-size-min:            1em;

//margin

$margin-simple:            30px;
$margin-left-simple:       20px;

// responsivo

$tamanho-tablet:           660px
